<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Document</title>
</head>

<body>
  <header class="container ">
    <nav class="nav1">
      <a href="">İndirim Kuponlarım</a>
      <a href="">Trendyol`da Satış Yap</a>
      <a href="">Yardım & DEstek</a>
    </nav>

    <nav class="nav2 row align-items-center">
      <div class="col-xl-2 d-flex justify-content-center">
        <a href="{% url 'index'  %}"><img style="width:146px;height:100%;margin-bottom:-3px; text-align: center; "
          src="https://cdn.dsmcdn.com/web/logo/ty-web.svg" alt=""></a>
      </div>
      <div class="col-xl-6">
        <form method="GET" class="row align-items-center">
          <div class="col-11"> <input type="search" value="{{search}}" placeholder="Aradığınız ürün, kategori veya markayı yazınız" name="search"></div>
          <div class="col-1"><button type="submit" href="#"><i class="fa-solid fa-magnifying-glass"></i></button></i> </div>
        </form>
      </div>
      <div class="col-xl-4 my-4">
        <div class="row justify-content-center">
        {% if user.is_authenticated %}
          <div class="col-3 giris"><div class="dropdownmenu"> <div ><a href="#"><i class="fa-regular fa-user"></i> {{request.user}}</a></div> <div class="uye"><a href="{% url 'logout' %}">Çıkış Yap</a></div> </div> </div>
        {% else %}
        <div class="col-3 giris"><div class="dropdownmenu"> <div ><a href="{% url 'login' %}"><i class="fa-regular fa-user"></i> Giriş yap</a></div> <div class="uye"><a href="{% url 'login' %}">Giriş Yap</a><a style="background-color: white !important; color: black !important; border-bottom: 1px solid grey;" href="{% url 'register' %}">Üye Ol</a></div> </div> </div>
        {% endif %}
          <div class="col-3"> <a href=""><i class="fa-regular fa-heart"></i> Favoriler</a></div>
          <div class="col-3"><a href=""><i class="fa-solid fa-cart-shopping"></i> Sepetim</a></div>
        </div>
      </div>
    </nav>


    <nav class="nav3">
      <ul>
        {% for kategori in kategoriler  %}
          <li><a href="/?search={{kategori.isim}}">{{kategori.isim|upper}}</a></li>
        {% endfor %}
        <li><a href="" style="pointer-events: none">ANNE & ÇOCUK</a></li>
        <li><a href="" style="pointer-events: none">EV & MOBİLYA</a></li>
        <li><a href="" style="pointer-events: none">SÜPERMARKET</a></li>
        <li><a href="" style="pointer-events: none">KOZMATİK</a></li>
        <li><a href="" style="pointer-events: none">AYAKKABI & ÇANTA</a></li>
        <li><a href="" style="pointer-events: none">SAAT & AKSESUAR</a></li>
        <li><a href="" style="pointer-events: none">ELEKTRONİK</a></li>
        <li><a href="" style="pointer-events: none">SPOR & OUTDOOR</a></li>
      </ul>
    </nav>
  </header>

  <section class="section1 container">
    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/7/Coksatanlar1_202203072239.png"
              alt=""><span>SEN DE AL1</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/3/9/Top_Widget_202203091801.png"
              alt=""><span>SANA ÖZEL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2022/11/29/Screenshot20221128At163430_202211290324.png"
              alt=""><span>KURUMSAL</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2021/12/9/MpLogo_202112091740.jpg"
              alt=""><span>ÇEKİLİŞ KUPONU</span></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img
              src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/Automation/BrandBoutique/2022/1/3/xiaomi13.png"
              alt=""><span>XİAOMİ</span></a>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>


  </section>

  <section class="section-2 container mt-5">
    <div class="row">
      <a href="" class="text-center col-md-4 mt-5"><img
          src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/SepeteEnCOkEklenenler_202206291435.png"
          alt=""></a>
      <a href="" class="text-center col-md-4 mt-5"><img
          src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/EnCOkONeCIkanlar_202206291435.png"
          alt=""></a>
      <a href="" class="text-center col-md-4 mt-5"><img
          src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/FlasINdirimler_202206291435.png"
          alt=""></a>
    </div>
  </section>

  <article class="article-1 container mt-5">
    <div class="row">
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty645/pimWidgetApi/mobile_20221215072150_11111KadinMobile202211291502.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Mango-Kadın & Erkek Tek...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty660/campaign/banners/original/618444/02248bdf28_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Trendyol Collection-Yeni...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty664/pimWidgetApi/mobile_20221226124009_inddededww2swqdir.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Network</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty614/campaign/banners/original/617853/4b794ef739_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Mobilyada Yeni Favori ürün</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty671/pimWidgetApi/mobile_20221230210526_FritozlerdeYilbasiHeyecani2297930mobile.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Fritözlerde Yılbaşı Heyecanı</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty652/pimWidgetApi/mobile_20221218194548_mavimobil2.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">mavi - Yeni Sezon</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>


      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </article>

  <article class="article-2 container p-md-5 mt-5">
    <div class="swiper swiper2">
      <div class="swiper-wrapper">
        {% for urun in urunler %}
        <div class="swiper-slide ">
          <a href="{% url 'detay' urun.id %}">
            <div class="img-container">
              <img style="width: 100px !important;" src="{{urun.resim.url}}" alt="">
              <div class="card-img">
                <i class="fa-regular fa-heart"></i>
                <img class="encok-satan" style="width: 25%;"
                  src="https://cdn.dsmcdn.com/mnresize/250/250/marketing/datascience/automation/2020/12/9/EnCokSatan_202012091129.png"
                  alt="">
              </div>
            </div>
            <div class="card-content mt-2" style="text-align: start;">
              <span>{{urun.marka}}</span>
              <span style="color: #666;">{{urun.aciklama}} </span>
            </div>
            <div class="card-price mt-1" style="color:#F27A1A; font-size: 2rem; align-self: flex-start;"> {{urun.fiyat}}
              TL </div>
          </a>
        </div>
        {% endfor %}




      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>


  </article>

  <article class="article-1 container mt-5">
    <div class="row">
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty645/pimWidgetApi/mobile_20221215072150_11111KadinMobile202211291502.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Mango-Kadın & Erkek Tek...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty660/campaign/banners/original/618444/02248bdf28_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Trendyol Collection-Yeni...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty664/pimWidgetApi/mobile_20221226124009_inddededww2swqdir.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Network</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty614/campaign/banners/original/617853/4b794ef739_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Mobilyada Yeni Favori ürün</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty671/pimWidgetApi/mobile_20221230210526_FritozlerdeYilbasiHeyecani2297930mobile.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Fritözlerde Yılbaşı Heyecanı</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty652/pimWidgetApi/mobile_20221218194548_mavimobil2.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">mavi - Yeni Sezon</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty645/pimWidgetApi/mobile_20221215072150_11111KadinMobile202211291502.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Mango-Kadın & Erkek Tek...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty660/campaign/banners/original/618444/02248bdf28_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Trendyol Collection-Yeni...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty664/pimWidgetApi/mobile_20221226124009_inddededww2swqdir.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Network</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty614/campaign/banners/original/617853/4b794ef739_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Mobilyada Yeni Favori ürün</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty671/pimWidgetApi/mobile_20221230210526_FritozlerdeYilbasiHeyecani2297930mobile.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Fritözlerde Yılbaşı Heyecanı</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty652/pimWidgetApi/mobile_20221218194548_mavimobil2.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">mavi - Yeni Sezon</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </article>

  <article class="article-2 container p-md-5 mt-5">
    <div class="swiper swiper2">
      <div class="swiper-wrapper">
        {% for urun in urunler %}
        <div class="swiper-slide ">
          <a href="{% url 'detay' urun.id %}">
            <div class="img-container">
              <img style="width: 100px !important;" src="{{urun.resim.url}}" alt="">
              <div class="card-img">
                <i class="fa-regular fa-heart"></i>
                <img class="encok-satan" style="width: 25%;"
                  src="https://cdn.dsmcdn.com/mnresize/250/250/marketing/datascience/automation/2020/12/9/EnCokSatan_202012091129.png"
                  alt="">
              </div>
            </div>
            <div class="card-content " style="text-align: start;">
              <span>{{urun.marka}}</span>
              <span style="color: #666;">{{urun.aciklama}} </span>
            </div>
            <div class="card-price mt-1" style="color:#F27A1A; font-size: 2rem; align-self: flex-start;"> {{urun.fiyat}}
              TL </div>
          </a>
        </div>
        {% endfor %}




      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>


  </article>

  <article class="article-2 container p-md-5 mt-5">
    <div class="swiper swiper2">
      <div class="swiper-wrapper">
        {% for urun in urunler %}
        <div class="swiper-slide ">
          <a href="{% url 'detay' urun.id %}">
            <div class="img-container">
              <img style="width: 100px !important;" src="{{urun.resim.url}}" alt="">
              <div class="card-img">
                <i class="fa-regular fa-heart"></i>
                <img class="encok-satan" style="width: 25%;"
                  src="https://cdn.dsmcdn.com/mnresize/250/250/marketing/datascience/automation/2020/12/9/EnCokSatan_202012091129.png"
                  alt="">
              </div>
            </div>
            <div class="card-content " style="text-align: start;">
              <span>{{urun.marka}}</span>
              <span style="color: #666;">{{urun.aciklama}} </span>
            </div>
            <div class="card-price mt-1" style="color:#F27A1A; font-size: 2rem; align-self: flex-start;"> {{urun.fiyat}}
              TL </div>
          </a>
        </div>
        {% endfor %}




      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>


  </article>

  <article class="article-1 container mt-5">
    <div class="row">
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty645/pimWidgetApi/mobile_20221215072150_11111KadinMobile202211291502.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Mango-Kadın & Erkek Tek...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty660/campaign/banners/original/618444/02248bdf28_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Trendyol Collection-Yeni...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty664/pimWidgetApi/mobile_20221226124009_inddededww2swqdir.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Network</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty614/campaign/banners/original/617853/4b794ef739_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Mobilyada Yeni Favori ürün</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty671/pimWidgetApi/mobile_20221230210526_FritozlerdeYilbasiHeyecani2297930mobile.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Fritözlerde Yılbaşı Heyecanı</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty652/pimWidgetApi/mobile_20221218194548_mavimobil2.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">mavi - Yeni Sezon</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty645/pimWidgetApi/mobile_20221215072150_11111KadinMobile202211291502.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Mango-Kadın & Erkek Tek...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty660/campaign/banners/original/618444/02248bdf28_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Trendyol Collection-Yeni...</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>

      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3"
          src="https://cdn.dsmcdn.com/ty664/pimWidgetApi/mobile_20221226124009_inddededww2swqdir.jpg" alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ;  font-weight: 500;">Network</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
      <a href="" class="col-md-4 mt-5">
        <img class="rounded-top-3" src="https://cdn.dsmcdn.com/ty614/campaign/banners/original/617853/4b794ef739_0.jpg"
          alt="">
        <div class="campanya bg-black p-3 rounded-bottom-3 d-flex justify-content-between">
          <span style="color: white; font-size: 1.4rem ; font-weight: 500;">Mobilyada Yeni Favori ürün</span>
          <span class="span" style="color: white; font-size: 1.4rem; font-weight: 500 ;visibility:hidden;">Alış Verişe
            Başla <i class="fa-solid fa-angle-right"></i> </span>
        </div>
      </a>
    </div>
  </article>

  <hr class="mt-5 ">

  <article class="container mt-5 article-3">
    <h2>Tüm İhtiyaçlarınız İçin Tek İhtiyacınız Trendyol!</h2>
    <p>Trendyol olarak, 2010 yılında modayı herkes için ulaşılabilir kılmak amacıyla çıktığımız yolda Türkiye’nin önde
      gelen online pazar yerlerinden olmayı başardık. Kurulduğumuz ilk günden bu yana, müşterilerimizin beklentilerini
      odağımıza alarak giyimden aksesuara, ayakkabıdan kozmetiğe dek milyonlarca ürünü müşterilerimizle buluşturduk.
      E-ticaretteki dönüşümün en yakın takipçisi olarak, ödeme ve teslimat adımlarına getirdiğimiz yeniliklerle
      müşterilerimize kolay ve güvenli bir alışveriş deneyimi sunuyoruz.</p>
    <h3 style="max-width:100%;font-size:18px;margin-top:5px">Modern Tasarımlarıyla Dikkat Çeken Trendyol Markaları</h3>
    <p>Gelişen pazar hacminde pay kazanırken, müşterilerimizi Trendyol tasarımcılarının modern tasarımlarıyla
      buluşturmak için kendi markalarımızı yarattık. Kadın ve erkek giyim kategorilerinde öne çıkan trendleri
      yakaladığımız Trendyolmilla ürünlerini uygun fiyatlarla sizlerle buluşturuyoruz. Her tarza ve bütçeye hitap eden
      geniş ürün seçenekleri arasından size uygun olanlarla kış veya yaz kombinlerinizi tamamlayarak her mevsim modaya
      uygun giyinmenin keyfini yaşayabilirsiniz. Kışlık seçimlerinizde Trendyolmilla’nın trend kesimleriyle öne çıkan
      kazak, mont, hırka, ceket, pantolon ve eşofman takımlarını tercih edebilirsiniz. Yazlık kombinlerinizdeyse, yaz
      aylarının enerjisini yansıtan renkli ve pratik bir şekilde kombinleyebileceğiniz basic t-shirtleri
      kullanabilirsiniz. İnce ve terletmeyen kumaşlarla üretilen jean, kapri ve bermuda pantolonlarla serin tutan ideal
      seçimler yapabilirsiniz. Yaz tatil alışverişlerinde listenin başında yer alan bikini ve mayolardan modern desenli
      ürünleri geniş beden aralığıyla bulmanın rahatlığını yaşayabilirsiniz. Giyim alışverişlerinizi Trendyol Shoes’dan
      yapacağınız ayakkabı seçimleriyle tamamlayabilirsiniz. Günlük ayakkabı, spor ayakkabı, topuklu ayakkabı, sandalet,
      terlik, bot ve çizme seçenekleri arasından her kombine uygun modelleri bulabilirsiniz. Şık davetler ve özel günler
      için ışıltılı ve topuklu ayakkabı modellerini tercih ederken, günlük kullanım için spor modellere göz
      atabilirsiniz. Trendyol bünyesinde muhafazakar giyimi modern çizgilerle buluşturan Trendyol Modest markasının
      ürünlerini inceleyebilirsiniz. Elbiseden gömleğe, tunikten eşofman takımına kadar pek çok kategoride ihtiyacınız
      olan ürünleri Trendyol Modest markasında bulabilirsiniz. Sade, modern, kaliteli ve şık tasarımlarla günlük
      kombinleriniz için ihtiyaç duyduğunuz tüm parçaları dolabınıza ekleyebilirsiniz. Sezonun trend renkleri ve
      modellerini yansıttığımız Trendyol Man ve çocuk kıyafetleri için geliştirdiğimiz Trendyol Kids marka
      koleksiyonlarımızla herkes için modayı ulaşılır hale getiriyoruz. Siz de, Trendyol markalarını inceleyebilir,
      ihtiyaç duyduğunuz farklı kategorilerdeki ürünlerle moda trendlerini yakalayabilirsiniz.</p>
    <h3 style="max-width:100%;font-size:18px;margin-top:5px">Trendyol Müşterilerine Özel Ayrıcalıklı Uygulamalar</h3>
    <p>Gelişen pazar hacminde pay kazanırken, müşterilerimizi Trendyol tasarımcılarının modern tasarımlarıyla
      buluşturmak için kendi markalarımızı yarattık. Kadın ve erkek giyim kategorilerinde öne çıkan trendleri
      yakaladığımız Trendyolmilla ürünlerini uygun fiyatlarla sizlerle buluşturuyoruz. Her tarza ve bütçeye hitap eden
      geniş ürün seçenekleri arasından size uygun olanlarla kış veya yaz kombinlerinizi tamamlayarak her mevsim modaya
      uygun giyinmenin keyfini yaşayabilirsiniz. Kışlık seçimlerinizde Trendyolmilla’nın trend kesimleriyle öne çıkan
      kazak, mont, hırka, ceket, pantolon ve eşofman takımlarını tercih edebilirsiniz. Yazlık kombinlerinizdeyse, yaz
      aylarının enerjisini yansıtan renkli ve pratik bir şekilde kombinleyebileceğiniz basic t-shirtleri
      kullanabilirsiniz. İnce ve terletmeyen kumaşlarla üretilen jean, kapri ve bermuda pantolonlarla serin tutan ideal
      seçimler yapabilirsiniz. Yaz tatil alışverişlerinde listenin başında yer alan bikini ve mayolardan modern desenli
      ürünleri geniş beden aralığıyla bulmanın rahatlığını yaşayabilirsiniz. Giyim alışverişlerinizi Trendyol Shoes’dan
      yapacağınız ayakkabı seçimleriyle tamamlayabilirsiniz. Günlük ayakkabı, spor ayakkabı, topuklu ayakkabı, sandalet,
      terlik, bot ve çizme seçenekleri arasından her kombine uygun modelleri bulabilirsiniz. Şık davetler ve özel günler
      için ışıltılı ve topuklu ayakkabı modellerini tercih ederken, günlük kullanım için spor modellere göz
      atabilirsiniz. Trendyol bünyesinde muhafazakar giyimi modern çizgilerle buluşturan Trendyol Modest markasının
      ürünlerini inceleyebilirsiniz. -</p>
  </article>

  <hr class="mt-5 ">

  <article class="container article-4">
    <div class="row " style="font-size: 14px;">

      <div class="col-md-6">
        <h3 class="p-5">Popüler Marka ve Mağazalar</h3>
        <div class="row">
          <div class="col-6">
            <ul>
              <li><a href="">Penti</a></li>
              <li><a href="">Watsons</a></li>
              <li><a href="">Stradivarius</a></li>
              <li><a href="">İstikbal</a></li>
              <li><a href="">Puma</a></li>
              <li><a href="">Apple</a></li>
              <li><a href="">Xiaomi</a></li>
              <li><a href="">Greyder</a></li>
              <li><a href="">Adidas</a></li>
              <li><a href="">Lacoste</a></li>
              <li><a href="">Madame Coco</a> </li>
              <li><a href="">Defacto</a></li>
              <li><a href="">Tchibo</a></li>
              <li><a href="">Network</a></li>
              <li><a href="">Kiğılı</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li><a href="">Penti</a></li>
              <li><a href="">Watsons</a></li>
              <li><a href="">Stradivarius</a></li>
              <li><a href="">İstikbal</a></li>
              <li><a href="">Puma</a></li>
              <li><a href="">Apple</a></li>
              <li><a href="">Xiaomi</a></li>
              <li><a href="">Greyder</a></li>
              <li><a href="">Adidas</a></li>
              <li><a href="">Lacoste</a></li>
              <li><a href="">Madame Coco</a> </li>
              <li><a href="">Defacto</a></li>
              <li><a href="">Tchibo</a></li>
              <li><a href="">Network</a></li>
              <li><a href="">Kiğılı</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h3 class="p-5">Popüler Sayfalar</h3>
        <div class="row">
          <div class="col-6">
            <ul>
              <li><a href="">Bluetooth Kulaklık</a></li>
              <li><a href="">Alışveriş Kredisi</a></li>
              <li><a href="">Laptop</a></li>
              <li><a href="">Kulaklık</a></li>
              <li><a href="">Apple Watch</a></li>
              <li><a href="">Buzdolabı</a></li>
              <li><a href="">TV Ünitesi</a></li>
              <li><a href="">iPhone 14 Pro</a></li>
              <li><a href="">11 11 İndirimleri</a></li>
              <li><a href="">Lacoste</a></li>
              <li><a href="">Madame Coco</a> </li>
              <li><a href="">Kahve Makinesi</a></li>
              <li><a href="">Tchibo</a></li>
              <li><a href="">Apple Airpods</a></li>
              <li><a href="">Hediye Rehberi</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li><a href="">iPhone</a></li>
              <li><a href="">iPhone 13</a></li>
              <li><a href="">Stradivarius</a></li>
              <li><a href="">İstikbal</a></li>
              <li><a href="">Puma</a></li>
              <li><a href="">Bluetooth Kulaklık</a></li>
              <li><a href="">Xiaomi</a></li>
              <li><a href="">Greyder</a></li>
              <li><a href="">Çamaşır Makinesi</a></li>
              <li><a href="">iPhone 14</a></li>
              <li><a href="">22 Ayar Bilezik </a> </li>
              <li><a href="">Defacto</a></li>
              <li><a href="">Elbise</a></li>
              <li><a href="">Network</a></li>
              <li><a href="">Trendyol Blog</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </article>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>